<section id="image-sliders">
  <div id="images">
    <div class="image1">
      <span><a>ENJOY GARDENING </a><br>
        <div class="text-center">
          <%= link_to "SIGN UP", new_user_registration_path,class:"signupbtn" %>
          <%= link_to "LOG IN",user_session_path,class:"loginbtn" %>
        </div>
      <span>
　　</div>
　　<div class="image2">
　　  <span><a>ENJOY GARDENING </a><br>
　　    <%= link_to "SIGN UP", new_user_registration_path,class:"signupbtn" %>
        <%= link_to "LOG IN",user_session_path, class: "loginbtn" %>
      <span>
　　</div>
    <div class="image3">
      <span><a>ENJOY GARDENING </a><br>
        <div class="text-center">
          <%= link_to "SIGN UP", new_user_registration_path,class:"signupbtn" %>
          <%= link_to "LOG IN",user_session_path,class: "loginbtn" %>
        </div>
      <span>
    </div>
    <div class="image4">
      <span><a>ENJOY GARDENING </a><br>
        <div class="text-center">
          <%= link_to "SIGN UP", new_user_registration_path,class:"signupbtn" %>
          <%= link_to "LOG IN",user_session_path,class: "loginbtn" %>
        </div>
      <span>
    </div>
    <div class="image5">
      <span><a>ENJOY GARDENING </a><br>
        <div class="text-center">
          <%= link_to "SIGN UP", new_user_registration_path,class:"signupbtn" %>
          <%= link_to "LOG IN",user_session_path,class:"loginbtn" %>
        </div>
      <span>
    </div>
  </div>
</section>


