<div class="container-md ">
  <div class="text-center">
    <h1>GALLERY</h1>
  </div>

　<div class="d-flex flex-row flex-wrap ">
    <% @post_images.each do |post_image| %>
      <div class="card" style="width: 20rem; height: 27rem;">
        <div class="card-img-wrap d-flex">
          <%= attachment_image_tag post_image, :image, class: "card-image align-self-start" %>
        </div>
        <div class="card-body">
          <p class="card-title text-center"><%= link_to post_image.title, post_image_path(post_image.id) %></p>
          <p  class="card-text">
            <% post_image.tags.each do |t| %>
              <p style="display: inline-flex;">#<%= t.tag_name.truncate(25) %></p>
            <% end %>
          </p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <%= post_image.created_at.strftime("%Y-%m-%d %H:%M")%>
          <span><i class="fas fa-user"></i><%= link_to post_image.user.name, user_path(post_image.user_id)%></span>
          <small class="text-muted">
            <div id="likes_buttons_<%= post_image.id %>">
            <%= render partial: 'favorites/favorite-btn',locals: {post_image: post_image} %>
          </div>
          </small>
        </div>
      </div>
  　<% end %>
　</div>
</div>
<div class="paginate"><%= paginate @post_images %></div>







