<main class="mb-auto">
    <div class="post-detail py-5">
        <div class="card w-50 mx-auto mt-4 shadow-lg">
            <p><%= attachment_image_tag @post_image, :image, class: "image-size"  %></p>
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <div class="text-center">
                            <strong >題名：<span><%= @post_image.title %></span></strong>
                            <p class="card-title">説明：<%= @post_image.body %></p>
                            <% @post_image.tags.each do |tag| %>
                              <span>#<%= tag.tag_name %></span>
                            <% end %>
                            <span><i class="fas fa-user"></i><%= @post_image.user.name %></span>
                            <span><i class="fa fa-calendar"></i><%= @post_image.created_at.strftime("%Y-%m-%d %H:%M")%></span>
                            <span><a class="text-dark" href="/post_images/828"></span>
                            <span>
                                <div id="likes_buttons_<%= @post_image.id %>">
                                    <%= render partial: 'favorites/favorite-btn',locals: {post_image: @post_image} %>
                                </div>
                               
                          　</span>
                        </div>
　　　　　　　　　　</div>
                </div>
                  <div class="comments card-text">
                      <h4 class="mt-3">コメント</h4>
                      <div class="" id="comments_area">
                        <%= render partial: 'comments/index',locals: {post_image: @post_image } %>
                      </div>
                  </div>
               <%= render partial: 'comments/form',locals: {post_image: @post_image, comment: @comment} %>
             </div>
        </div>
    </div>
 </main>


















