<!DOCTYPE html>
<html>
  <head>
    <title>Photogarden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class='navbar nav-fixed-top nav-padding'>
        <nav class='nav navbar-nav navbar-left'>
         <h2>PHOTOGARDEN</h2>
        </nav>
        <nav class='nav navbar-nav navbar-right'>
         <ul class="global-nav">
             <% if user_signed_in? %>
               <li class='nav-item' >
                   <%= form_with url: post_images_search_path, local: true do |f| %>
                   <%= f.text_field :tag_names %>
                      <%= f.submit '検索' %>
                    <% end %>
               </li>
               <li class='nav-item' ><%= link_to "HOME",root_path  %></li>
               <li class='nav-item' ><%= link_to "MYPAGE",user_path(current_user)  %></li>
               <li class='nav-item' ><%= link_to "GALARY",post_images_path %></li>
               <li class='nav-item' ><%= link_to 'POST', new_post_image_path %></li>
               <% if unchecked_notifications.any? %>
                 <i class="fa fa-circle" style="color: gold;"></i>
               <% end %>
               <li class='nav-item' ><%= link_to "NOTICE", notifications_path %></li>
               <li class='nav-item' ><%= link_to "LOGOUT",destroy_user_session_path, method: :delete %></li>
              <% else %>
               <li class='nav-item' ><%= link_to "HOME",root_path %></li>
               <li class='nav-item' ><%= link_to "ABOUT",home_about_path %></li>
               <li class='nav-item' ><%= link_to "SIGN UP", new_user_registration_path %></li>
               <li class='nav-item' ><%= link_to "LOG IN",user_session_path  %></li>
            <% end %>
         </ul>
       </nav>
     </header>
    <%= yield %>
  </body>
<footer>
  <small>© 2021 PHOTOGARDEN inc.</small>
</footer>
</html>




